@model FriendFace.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @* Icons for heart and comment *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="container text-center">
    <h3>@Model.User.FirstName@Html.Raw("'s Feed")</h3>
</div>

@* Posts in feed *@
<div class="container text-left">
    <div class="row">
        @foreach (var post in Model.PostsInFeed)
        {
            <div class="col-md-6 offset-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        @* Name, Username and post content *@
                        <span style="font-weight: bold;">@post.User.FirstName @Html.Raw(" ") @post.User.LastName</span>
                        <span style="font-size: 80%;" class="text-muted">@Html.Raw("@")@post.User.Username</span>
                        <p class="card-text text-left">@post.Content</p>

                        @* Date and icons *@
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">@post.Time.ToString("HH:mm dd/MM/yy")</small>

                            <span style="font-size: 80%;" class="text-muted">
                                @if (post.Likes.Any(like => like.UserId == Model.User.Id))
                                {
                                    <i class="fas fa-heart" style="color: red;"></i>
                                    @post.Likes.Count
                                }
                                else
                                {
                                    <i class="far fa-heart" style="color: grey;"></i>
                                    @post.Likes.Count
                                }
                                <i class="far fa-comment"></i> @post.Comments.Count
                            </span>
                        </div>

                        @* Comments *@
                        @foreach (var comment in post.Comments.OrderByDescending(c => c.Time))
                        {
                            <div class="card mt-1">
                                <div class="card-body">
                                    <div>
                                        <span style="font-weight: bold;font-size: 90%;">@comment.User.FirstName @Html.Raw(" ") @comment.User.LastName</span>
                                        <span style="font-size: 70%;" class="text-muted">@Html.Raw("@")@comment.User.Username</span>
                                        <small style="font-size: 70%;" class="text-muted">@comment.Time.ToString("HH:mm dd/MM/yy")</small>
                                        <p style="font-size: 90%;" class="card-text text-left">@comment.Content</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>