@model FriendFace.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.user.FirstName)
        @Html.TextBoxFor(m => m.user.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.user.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.user.LastName)
        @Html.TextBoxFor(m => m.user.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.user.LastName)
    </div>


    


    <button type="submit" class="btn btn-primary">Save Changes</button>
}
