@model FriendFace.ViewModels.UserProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.user.FirstName @Model.user.LastName's Profile</h2>
            <div class="profile-header">
                <h3>@Model.user.FirstName @Model.user.LastName</h3>
                <p>@Model.user.Email</p>
            </div>

            <!-- Additional profile information here -->
            <!-- Edit profile button -->
            @if (Model.isCurrentUser)
            {
                <a href="@Url.Action("EditProfile", "Profile")" class="btn btn-default">Edit Profile</a>
            }

        </div>
    </div>
   </div>
